---
---

@import "{{ site.theme }}";
.logolink img {
    margin-bottom: 1em;
}
.download {
    margin-top: 1em;
    margin-bottom: 2em;
}
.downloadbutton {
    background-color: #39c;
    color: white;
    padding: 1em;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0.5em;
}

.downloadbutton:hover {
    background-color: #069;
    color: white;
}

@media (max-width: 960px) {
    header {
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    div.wrapper {
        width: 1060px;
    }
    section {
        width: 700px;
    }
}

table {
    width: auto;
}

#navi {
    background: none;
    border: none;
}

#navi li {
    border: none;
    width: inherit;
    height: inherit;
    float: inherit;
}

#navi a {
    color: #39c;
    text-align: left;
    font-size: inherit;
    display: inherit;
    height: inherit;
}

#navi a:hover {
    color: #069;
}
